.button {
  background-color: $bright-blue;
  color: #fff;
  display: inline-block;
  font-size: $font-size-large;
  padding: $s-size;
  font-weight: 300;
  border: none;
  border-radius: 6px;
  line-height: 1;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888888;
}